@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo1,
#logo2,
#logo3,
#logo4,
#logo5,
#logo6,
#logo7,
#logo8 {
    height: 100px;
    width: 120px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

header {
    padding: 20px 40px;
    color: #fff;
    align-items: center;
    background-color: #24282c;
}

header h1 {

    grid-column: span 3;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

header nav {

    grid-column: 7 / span 6;
    justify-self: right;

}

header nav a {

    text-decoration: none;
    color: #fff;
    margin-left: 15px;

}

.links {
    justify-content: flex-end;
    
}

.links a {
    padding: 30px;
}

.header,
.welcome,
.projects,
.games {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    border: 10 solid black;
    border-radius: 50px;
    text-align: center;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.8;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #34414e60;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

section .future{
    grid-column: 2 /span 8;
}

section .woman{
    width: 210px;
    height: 270px;
    grid-column: 10;
}

header, nav, main, footer {
    padding: 20px;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

div a {
    text-decoration: none;
    color: #333;
}

.projectLinks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.projectLinkz {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}
